

body {
    background-color:#961D4E;
    font-family: Arial, sans-serif;
    border: 2px solid black;
}

main, header, footer {
    background-color:#F1E3F3;
    margin: 0 auto 0;
    width: 80vw;
    padding: 1rem 2rem;}

footer {
    background-color: #a1eeff;
}

h1 {
    color: red;
    font-family: 'Press Start 2P', sans-serif;
    border-bottom: 1px solid blue;
}

h2 {
    color: #3D52D5;
    font-family: 'Press Start 2P', sans-serif;
}

p {
    margin-left: 50px;
}

blockquote {
    background-color: #a1eeff;
    padding: 1rem;
}

img.side {
    float:right; margin: 0 12px;
}

a {
    text-decoration: none;
}

a:link { color: rgb(0, 36, 51); }
a:visited { color: maroon; }
a:focus { color: darkred; background-color: lightpink; }
a:hover { color: darkred; background-color: lightpink; }
a:active { color: red; background-color: lightpink; }