html {scroll-behavior: smooth;}
body { margin: 0;}

#wrapper {
    margin: 0rem;

    display: flex;
    flex-flow: column;
    
    background-image: url(../media/woodWallpaper2.jpg);
    background-repeat: round;
}

@media screen and (min-width: 800px) {
    #wrapper {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: auto auto auto auto auto auto;

        grid-template-areas: 
        "nav     nav"
        "histimg aboutme"
        "histcap aboutme"
        "projs   projs"
        "res     res"
        "contact contact";
    }
}

@media screen and (min-width: 1100px) {
    #wrapper {
        grid-template-columns: 2fr 4fr;
        grid-template-rows: auto auto auto auto auto auto;

        grid-template-areas: 
        "nav     nav"
        "histimg aboutme"
        "histcap aboutme"
        "projs   projs"
        "res     res"
        "contact contact";
    }
}

#resume embed {
    display: block; 
    margin: 0 auto; 
    width: 75%;
    height: 400px;
    zoom:150%;
}

header { grid-area: nav;}
#hist-image { grid-area: histimg;}
#hist-caption { grid-area: histcap;}
#about-me { grid-area: aboutme;}
#projects { grid-area: projs;}
#resume { grid-area: res;}
#contact { grid-area: contact}

header {
    position: sticky;
    text-align: center;
    top: 0px;
    z-index: 5;
    background-image: url(../media/woodWallpaper2.jpg);
}
header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0%;
    margin: 0% 20px;
    background-color: transparent;
    font-size: 20px;
    
}
header ul li {
    float: left;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    border-left: 2px solid Black;
    border-top: 2px solid black;
    text-decoration: none;
    background-color: #70C1B3;
}
header ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}
header ul li:last-child {
    border-right: 2px solid black;
}

h2 {
    background-image: url(../media/);
    background-size: contain;
    padding: 10px;
}

#projects-spellblade {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    align-items: center;
    margin: 0 auto;
}
#projects-tfoo {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    align-items: center;
    margin: 0 auto;
}
#projects-minesweeper {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    align-items: center;
    margin: 0 auto;
}

#projects-spellblade img {
    width: 100%;
}
#projects-tfoo img {
    width: 100%;
}
#projects-minesweeper img {
    width: 100%;
}



/* Handles flexbox for nav, sticky note, and decor on wide */
@media screen and (min-width: 800px) {
    header ul {
        font-size: 30px;
    }

    #about-me{
        width: 90%;
    }

    #projects h2 { grid-area: title;}
    #projects p { grid-area: descr;}
    #projects img { grid-area: scene;}

    #projects-spellblade {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: auto auto;

        grid-template-areas: 
        "scene title"
        "scene descr";
        width: 90%;
    }
    #projects-tfoo {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto auto;

        grid-template-areas: 
        "title scene"
        "descr scene";
        width: 90%;
    }
    #projects-minesweeper {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto auto;

        grid-template-areas: 
        "scene title"
        "scene descr";
        width: 90%;
    }

    #contact-types {
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        flex-flow: row nowrap;
        padding: 40px 0 4rem 0;
    }
    #contact-icons {
        display: flex;
        flex-flow: column nowrap;

    }
}

/* Text formatting */
header {
    font-family: Arial, Helvetica, sans-serif;
}

#aboutme, #projects, #resume, #contact {
    padding-top: 50px;
}

h2 {
    margin: 0 2rem;
    display: inline;
}

#hist-image {
    padding: 0rem 0rem;
    align-content: center;
    margin: 0 auto;
}
#hist-caption {
    padding: 0rem 4rem;
    font-size: smaller;
    margin: 0 auto;
}
#hist-image img {
    border: 10px solid white;
    filter: drop-shadow(-5px 5px 5px black);
    transform: scale(.8);
    max-width: 300px;
}

#title, #abstract, #text {
    margin: 0rem 1rem;
}
#title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
}
#abstract {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}


/* Make backgrounds for sections */
@media screen and (min-width: 800px) {


    #contact-form {
        background-image: url(../media/graphPaperNotebook.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        padding: 40px 80px;
        margin: -40px;
    }


}


a:link {  }
a:visited { }
a:focus { }
a:hover { }
a:active { }